body{
  background-color: #7d9191;
  font-family: "Anta";
  margin: 20px;
}

p {
  font-size: 25
}

li {
  font-size: 20
}

svg {
  border-style: solid;
  border-width: 0px;
}

.axis_label {
  font-size: 25;
}

.legend_labels {
  font-size: 25;
}

.title {
  font-size: 30;
}

.navbar{
  margin: -20px;
}